.header__language-link {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color:#fff;
}

.header__language-link:hover {
    text-decoration: underline;
}

.header__language-link:visited {
    color: #fff;
}

@media screen and (max-width: 320px) {
    .header__language-link {
        font-size: 18px;
        line-height: 20px;
    }
}



