.cover {
   min-height: 740px;
   background-image: url(../../images/cover__background.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   position: relative;
   z-index: 1;
}

.cover:hover .cover__overlay {
   opacity: 80%;
}

@media screen and (max-width: 1024px) {
   .cover {
      margin: auto;
      min-height: 640px;
   }
}

@media screen and (max-width: 768px) {
   .cover {
      min-height: 480px;
   }
}

@media screen and (max-width: 320px) {
   .cover {
      min-height: 200px;
   }
}